
@{
    ViewBag.Title = "CouldNotOpenConnectionToSQLServer";
}

<h2>Не удалось открыть подключение к SQL Server</h2>
<hr />
<h5>При установлении соединения с SQL Server произошла ошибка, связанная с сетью или с определенным экземпляром. Сервер не найден или недоступен. Убедитесь, что имя экземпляра указано правильно и что на SQL Server разрешены удаленные соединения.</h5>

