@{
    ViewBag.Title = "Error 404";
}

<h2>Ошибка 404. Ресурс не найден</h2>
<hr />
<h5>Ошибка 404 означает, что пользователь перешел на страницу, где на данный момент отсутствует нужный текст и какой-либо контент. Несуществующая страница могла быть здесь раньше, возможно, ее удалили, переместили в другую категорию или подкорректировали название, в результате чего изменился URL.</h5>