@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<link rel="stylesheet" type="text/css" href="css/main.css">
<style>
    .main {
        margin: 3em 0;
        position: page;
    }

        .main h1 {
            color: rgba(26, 187, 0, 0.95);
        }

        .main .item {
            position: sticky;
        }

        .main .des {
            background: #F97300;
            color: #ffffff;
            text-align: center;
            transition: .1s linear;
        }

        .main .item:hover .des {
            height: 10%;
            background: rgba(26, 187, 0, 0.95);
            position: sticky;
            width: 100%;
            border-bottom-right-radius: 93%;
            border-bottom-left-radius: 93%;
            top: 0;
        }
</style>

@if (User.IsInRole("user") || User.IsInRole("admin"))
{
    <!-- Team section -->
    <div class="main">
        <div class="container">
            <h3 class="text-center">Меню</h3>
            <div class="row flex-row">
                <div class="col-lg-3 col-md-3 col-sm-12 item">
                    <a class="nav-link" href="@Url.Content("~/Home/About")">
                        <img src="~/Content/Images/main/data.png" class="img-fluid" alt="main">
                        <div class="des">
                            Данные
                        </div>
                    </a>
                </div>
                <div class="col-lg-3 col-md-3 col-sm-12 item">
                    <a class="nav-link" href="@Url.Content("~/Home/About")">
                        <img src="~/Content/Images/main/medical.png" class="img-fluid" alt="main">
                        <div class="des">
                            Медосмотр
                        </div>
                    </a>
                </div>
                <div class="col-lg-3 col-md-3 col-sm-12 item">
                    <a class="nav-link" href="@Url.Content("~/Home/About")">
                        <img src="~/Content/Images/main/road_safety.png" class="img-fluid" alt="main">
                        <div class="des">
                            Безопасность движения
                        </div>
                    </a>
                </div>
                <div class="col-lg-3 col-md-3 col-sm-12 item">
                    <a class="nav-link" href="@Url.Content("~/Home/About")">
                        <img src="~/Content/Images/main/graduation.png" class="img-fluid" alt="main">
                        <div class="des">
                            Обучение
                        </div>
                    </a>
                </div>
            </div>
        </div>
    </div>
}
else
{
    <h3>Вам необходимо зарегистрироваться</h3>
}

